<VirtualHost *:80>
    ServerName {{ our.domain }}
    ServerAlias www.{{ our.domain }}

    DocumentRoot /var/www/project/public
    <Directory /var/www/project/public>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

    ErrorLog /var/log/apache2/{{ our.domain | replace(".", "_") }}_error.log
    CustomLog /var/log/apache2/{{ our.domain | replace(".", "_") }}_access.log combined
</VirtualHost>
